lib/dtd/texml-jats-1-3d2.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- TODO: fix versioning -->

<!--
    PUBLIC "-//AMS TEXML//DTD MODIFIED JATS (Z39.96) Journal Archiving and Interchange DTD with MathML3 v1.3d2 20201130//EN"
    SYSTEM "texml-jats-1-3d2.dtd"
-->

<!--
    Copyright (C) 2022 American Mathematical Society

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    For more details see, https://github.com/AmerMathSoc/texml

    This code is experimental and is provided completely without warranty
    or without any promise of support.  However, it is under active
    development and we welcome any comments you may have on it.

    American Mathematical Society
    Technical Support
    Publications Technical Group
    201 Charles Street
    Providence, RI 02904
    USA
    email: tech-support@ams.org
-->

<!ENTITY % archivecustom-modules.ent
    PUBLIC
    "-//NLM//DTD JATS (Z39.96) Journal Archiving DTD-Specific Modules v1.3d2 20201130//EN"
    "JATS-archivecustom-modules1-3d2.ent">

%archivecustom-modules.ent;     <!-- JATS-archivecustom-modules1-3d2.ent -->

<!ENTITY % mathml3-modules.ent
     PUBLIC
    "-//NLM//DTD JATS (Z39.96) JATS MathML 3.0 Modules v1.3d2 20201130//EN"
    "JATS-mathml3-modules1-3d2.ent">

%mathml3-modules.ent;           <!-- JATS-mathml3-modules1-3d2.ent -->

<!ENTITY % modules.ent
    PUBLIC
    "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Module of Modules v1.3d2 20201130//EN"
    "JATS-modules1-3d2.ent">

%modules.ent;                   <!-- JATS-modules1-3d2.ent -->

%JATS-ali-namespace.ent;        <!-- JATS-ali-namespace1-3d2.ent -->

<!ENTITY % jats-base-atts
    "xml:base   CDATA #IMPLIED
     class      CDATA #IMPLIED">

%JATS-common-atts.ent;          <!-- JATS-common-atts1-3d2.ent -->

<!-- Extension: Add raw-citation to ref -->

<!ENTITY % citation.class
    "raw-citation | citation-alternatives | element-citation | 
     mixed-citation | nlm-citation">

%archivecustom-classes.ent; <!-- JATS-archivecustom-classes1-3d2.ent -->

<!-- Extension: Allow def-list as a direct child of statement -->

<!ENTITY % statement.class "statement | def-list | disp-formula | fig">

%default-classes.ent;       <!-- JATS-default-classes1-3d2.ent -->

%archivecustom-mixes.ent;   <!-- JATS-archivecustom-mixes1-3d2.ent -->
%default-mixes.ent;         <!-- JATS-default-mixes1-3d2.ent -->

<!-- Extension: Add ams-meta-group and article-citation to article-meta -->

<!ENTITY % article-meta-model
    "(article-id*,
      (%article-version.class;)?, 
      article-categories?,
      title-group?,
      ( %contrib-group.class; | %aff-alternatives.class; )*,
      author-notes?,
      ( (%pub-date.class;)* | pub-date-not-available? ), 
      volume*, volume-id*, volume-series?,
      issue*, issue-id*, 
      issue-title*, issue-title-group*, 
      issue-sponsor*, issue-part?, 
      volume-issue-group*, isbn*,
      supplement?,
      ( (fpage, lpage?, page-range?) | elocation-id )?,
      ( %address-link.class; | product | supplementary-material )*,
      history?, pub-history?, permissions?,
      self-uri*,
      (%related-article.class;)*, 
      (%abstract.class;)*,
      trans-abstract*,
      (%kwd-group.class;)*, 
      funding-group*,
      support-group*,   
      conference*,
      counts?, 
      custom-meta-group?,
      ams-meta-group?,
      article-citation?
    )"
>

<!-- Extension: Add alt-title to sec -->

<!ENTITY % sec-model
    "(sec-meta?, label?,
      (title, alt-title?)?,
      (%para-level;)*, (%sec-level;)*,
      (%sec-back-matter-mix;)* )">

%archivecustom-models.ent;  <!-- JATS-archivecustom-models1-3d2.ent -->
%common.ent;                <!-- JATS-common1-3d2.ent -->
%articlemeta.ent;           <!-- JATS-articlemeta1-3d2.ent -->
%backmatter.ent;            <!-- JATS-backmatter1-3d2.ent -->

<!-- TEMPORARY: add table to fig-model until we replace fig by table-wrap-->

<!ENTITY % fig-model
    "((%id.class;)*, 
     (%label.class;)*, (%caption.class;)*,
     (%abstract.class;)*, (%kwd-group.class;)*,
     (%subj-group.class;)*, 
     (%access.class; | %address-link.class;)*,
     (%block-math.class; |
      %chem-struct-wrap.class; |
      %intable-para.class; |
      %just-table.class; | %just-para.class; |
      %list.class; | %simple-display.class; |
      %xref.class; | table)*,
     (%display-back-matter.class;)* )"          >

%display.ent;               <!-- JATS-display1-3d2.ent -->
%format.ent;                <!-- JATS-format1-3d2.ent -->
%funding.ent;               <!-- JATS-funding1-3d2.ent -->
%journalmeta.ent;           <!-- JATS-journalmeta1-3d2.ent -->
%link.ent;                  <!-- JATS-link1-3d2.ent -->
%list.ent;                  <!-- JATS-list1-3d2.ent -->

<!-- %math.ent;                  JATS-math1-3d2.ent -->

<!-- We want to overrride the declaration of tex-math, but since it is
  not defined via an entity, we have to copy JATS-math1-3d2.ent
  (with some reformatting to make the code more compact). -->

<!ENTITY % disp-formula-atts
            "%jats-common-atts;
             content-type   CDATA       #IMPLIED
             specific-use   CDATA       #IMPLIED
             xml:lang       NMTOKEN     #IMPLIED">

<!ENTITY % disp-formula-group-atts
            "%jats-common-atts;
             content-type   CDATA       #IMPLIED
             specific-use   CDATA       #IMPLIED
             xml:lang       NMTOKEN     #IMPLIED">

<!ENTITY % inline-formula-atts
            "%jats-common-atts;
             content-type   CDATA       #IMPLIED
             specific-use   CDATA       #IMPLIED
             xml:lang       NMTOKEN     #IMPLIED">

<!-- Should we use MathJax as the notation? -->

<!ENTITY % tex-math-atts
            "%jats-common-atts;
             content-type   CDATA       #IMPLIED
             specific-use   CDATA       #IMPLIED
             notation       NOTATION (LaTeX | tex | TEX | TeX) #IMPLIED
             version        CDATA       #IMPLIED">

<!ENTITY % inline-formula-elements
                        "| %access.class; | %emphasis.class; |
                         %inline-display.class; |
                         %inline-math.class; | %math.class; |
                         %phrase-content.class; | %subsup.class;">

<!ENTITY % inline-formula-model "(#PCDATA %inline-formula-elements;)*">

<!ELEMENT  inline-formula %inline-formula-model;>
<!ATTLIST  inline-formula %inline-formula-atts;>

<!ENTITY % disp-formula-elements
                        "| %access.class; | %abstract.class; |
                         %address-link.class; |%break.class; |
                         %caption.class; | %emphasis.class; |
                         %id.class; | %inline-display-noalt.class; |
                         %inline-math.class; | %kwd-group.class; |
                         %subj-group.class; |
                         %label.class; | %phrase-content.class; |
                         %math.class; |  %simple-display.class; |
                         %subsup.class;">

<!ENTITY % disp-formula-model "(#PCDATA %disp-formula-elements;)*">

<!ELEMENT  disp-formula %disp-formula-model;>
<!ATTLIST  disp-formula %disp-formula-atts;>

<!ENTITY % disp-formula-group-model
                        "((%id.class;)*, label?, (%caption.class;)?,
                          (%abstract.class;)*, (%kwd-group.class;)*,
                          (%subj-group.class;)*,
                          (%access.class; | %address-link.class;)*,
                          (%block-math.class;)* )">

<!ELEMENT  disp-formula-group %disp-formula-group-model;>
<!ATTLIST  disp-formula-group %disp-formula-group-atts;>

<!-- Extension: Allow text, target, xref, inline-graphic inside tex-math -->

<!ELEMENT  tex-math (#PCDATA | text | target | xref | inline-graphic)*>
<!ATTLIST  tex-math %tex-math-atts;>

%nlmcitation.ent;           <!-- JATS-nlmcitation1-3d2.ent -->
%para.ent;                  <!-- JATS-para1-3d2.ent -->
%phrase.ent;                <!-- JATS-phrase1-3d2.ent -->
%references.ent;            <!-- JATS-references1-3d2.ent -->
%related-object.ent;        <!-- JATS-related-object1-3d2.ent -->
%section.ent;               <!-- JATS-section1-3d2.ent -->
%index-term.ent;            <!-- BITS-embedded-index2.ent -->
%question-answer.ent;       <!-- BITS-question-answer2.ent -->
%mathml3-mathmlsetup.ent;   <!-- JATS-mathml3-mathmlsetup1-3d2.ent -->
%XHTMLtablesetup.ent;       <!-- JATS-XHTMLtablesetup1-3d2.ent -->
%xmlspecchars.ent;          <!-- JATS-xmlspecchars1-3d2.ent -->
%chars.ent;                 <!-- JATS-chars1-3d2.ent -->
%notat.ent;                 <!-- JATS-notat1-3d2.ent -->

<!ENTITY % dtd-version
    "dtd-version
    (3.0 | 0.4 | 1.0 | 1.1d1 | 1.1d2 | 1.1d3 |
     1.1 | 1.2d1 | 1.2d2 | 1.2 | 1.3d1 | 1.3d2 )
    #IMPLIED">

<!ENTITY % article-atts
    "%jats-common-atts;
     article-type   CDATA   #IMPLIED
     specific-use   CDATA   #IMPLIED
     xml:lang       NMTOKEN 'en'
     %dtd-version;
     %XLINK.xmlns.attrib;
     %MATHML.xmlns.attrib;
     %ali.xmlns.attrib;
     %Schema.xmlns.attrib;
     %Schema.prefix;:noNamespaceSchemaLocation CDATA #IMPLIED">

<!ENTITY % back-atts "%jats-common-atts;">

<!ENTITY % body-atts
    "%jats-common-atts;
     specific-use CDATA #IMPLIED">

<!ENTITY % front-atts "%jats-common-atts;">

<!ENTITY % front-stub-atts "%jats-common-atts;">

<!ENTITY % sub-article-atts
    "%jats-common-atts;
     article-type   CDATA   #IMPLIED
     specific-use   CDATA   #IMPLIED
     xml:lang       NMTOKEN #IMPLIED">

<!ENTITY % response-atts
    "%jats-common-atts;
     response-type  CDATA   #IMPLIED
     specific-use   CDATA   #IMPLIED
     xml:lang       NMTOKEN #IMPLIED">

<!ENTITY % article-short-model
    "(processing-meta?, (front | front-stub), body?, back?, floats-group?)">

<!ENTITY % article-full-model
    "(processing-meta?, front, body?, back?, floats-group?,
      (sub-article* | response*) )">

<!ELEMENT article %article-full-model;>

<!ATTLIST article %article-atts;>

<!ENTITY % front-model
    "(journal-meta?, article-meta,
      (%list.class; | %front.class; | %front-back.class;)* )">

<!ELEMENT front %front-model;>
<!ATTLIST front %front-atts;>

<!ENTITY % body-model "( (%para-level;)*, (%sec-level;)*, sig-block?)">

<!ELEMENT body %body-model;>
<!ATTLIST body %body-atts;>

<!ENTITY % back-model "(label?, title*, (%doc-back-matter-mix;)* )">

<!ELEMENT back %back-model;>
<!ATTLIST back %back-atts;>

<!ENTITY % sub-article-model
    "(processing-meta?, (front | front-stub),
      body?, back?, floats-group?,
      (sub-article* | response*) )">

<!ELEMENT sub-article %sub-article-model;>
<!ATTLIST sub-article %sub-article-atts;>

<!ENTITY % front-stub-model
    "(article-id*,
      (%article-version.class;)?,
      article-categories?,
      title-group?,
      (%contrib-group.class; | %aff-alternatives.class; | %x.class; )*,
      author-notes?,
      ( (%pub-date.class;)* | pub-date-not-available?),
      volume*, volume-id*, volume-series?,
      issue*, issue-id*,
      issue-title*, issue-title-group*,
      issue-sponsor*, issue-part?,
      volume-issue-group*, isbn*,
      supplement?,
      ( ( (fpage, lpage?)?, page-range?) | elocation-id )?,
      (%address-link.class; | product | supplementary-material)*,
      history?, pub-history?, permissions?,
      self-uri*,
      (%related-article.class;)*,
      (%abstract.class;)*,
      trans-abstract*,
      (%kwd-group.class;)*,
      funding-group*,
      support-group*,
      conference*,
      counts?,
      custom-meta-group?)">

<!ELEMENT front-stub %front-stub-model;>
<!ATTLIST front-stub %front-stub-atts;>

<!ELEMENT response %article-short-model;>
<!ATTLIST response %response-atts;>

<!-- EXTENSIONS -->

<!ENTITY % Bool      "( true | false )">
<!ENTITY % BoolFalse "%Bool; 'false'">

<!-- Extension: Add xmlns:html attribute to article -->

<!ATTLIST article xmlns:html CDATA #FIXED "http://www.w3.org/1999/xhtml">

<!-- Extension: Add @disp-level to app -->

<!ATTLIST app disp-level CDATA #IMPLIED>

<!ATTLIST graphic
    height CDATA #REQUIRED
    width  CDATA #REQUIRED>

<!ATTLIST inline-graphic
    height CDATA #REQUIRED
    width  CDATA #REQUIRED>

<!-- New element: article-citation -->

<!ELEMENT article-citation (#PCDATA)>

<!ATTLIST article-citation type (amsrefs | unknown) "unknown">

<!-- New element: text (used inside text-math) -->

<!ELEMENT text (#PCDATA %p-elements;)*>

<!-- Extension: Add has-qed-box attribute to p and statement -->

<!ATTLIST p         has-qed-box %BoolFalse;>
<!ATTLIST statement has-qed-box %BoolFalse;>

<!-- Extension: Add style attribute to statement -->

<!ATTLIST statement style CDATA #IMPLIED>

<!-- Extension: Add content-type attribute to def-list -->

<!ATTLIST def-list content-type CDATA #IMPLIED>

<!-- Extension: Add ref-label attribute to xref -->

<!ATTLIST xref ref-label CDATA #IMPLIED>

<!-- New element: raw-citation -->

<!ELEMENT raw-citation (#PCDATA)>

<!ATTLIST raw-citation type (amsrefs | unknown) "unknown">

<!-- New element: ams-meta-group -->
<!-- Note: custom-meta-group is not flexible enough for MSC categories -->

<!ELEMENT ams-meta-group (msc)>

<!ELEMENT msc (primary+, secondary*)>

<!ELEMENT primary   (key, description)>
<!ELEMENT secondary (key, description)>

<!ELEMENT key         (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!-- TBD: Change 'scheme' to 'schema' for compatibility with gentag? -->

<!ATTLIST msc scheme (1991|2000|2010|2020) #REQUIRED
              source (author|msn|unknown) "author">
